/* Imports and definitions */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900,900i');

@keyframes color {
  0% {
    background-color: #bd280f;
  }
  50% {
    background-color: #d46007;
  }
  100 {
    background-color: #bd280f;
  }
}

/* native doms */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	background: #30323D; 
}

footer {
	margin-top: 30px;
}

a, a:visited {
	color: #45A9E8;
	text-decoration: none;
}

a:hover{
	color: #E8C547;
	text-decoration: none;
}

/* non-native doms */

.logo {
	height: 30px;
}

.container-heading {
    padding: 10px;
    background: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

#main {
	margin-top: 60px;
}

#contact, #banner, #milestones {
	background: #4D5061;
	padding: 20px;
	box-sizing: border-box;
}

#contact > #team {
	margin-top: 30px;
}

#banner {
	background: #f3f3f3;
	border-radius: 0px;
}

#banner h1 {
	font-style: italic;
	font-weight: 500;
	font-size: 50pt;
	color: #10B758;
}

#banner ul > li {
	font-size: 12pt;
	color: #10B758 !important;
}

#banner ul > li > STRONG {
	font-weight: 700;
}

#banner ul > li > span {
	margin-left: 5px;
}

#milestones {
	padding-top: 60px;
	padding-bottom: 60px;
	border-radius: 0px;
	text-align: center;
}

.milestone-stage {
	background: #000;
	border: 3px solid #FFF;
	padding: 30px;
	margin: 11px;
	border-radius: 100% 100%;
	width: 180px;
	height: 180px;
	text-align: center;
	display: inline-table;
	font-size: 12px;
}

.milestone-stage.done {
	border: 3px solid #10B758;
}

.milestone-stage.active {
	background-color: #bd280f;
	animation-name: color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.milestone-stage-heading {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #FFF;
	padding-bottom: 7px;
	margin-bottom: 7px;
}

.done > .milestone-stage-heading {
	border-bottom-color: #7ef7b2;
}

.milestone-stage-separator {
    display: inline-table;
    top: 50px;
    position: relative;
    color: #fff;
    font-weight: 900;
    letter-spacing: 4px;
    left: 3px;
}

.badge-warning {
	padding: 10px;
	margin-left: 20px;
	font-size: 16px;
}

.badge-warning:hover {
	background-color: #30323D;
}

a > .badge-warning, a:visited  > .badge-warning {
	color: #222;
	text-decoration: none;
}

a:hover  > .badge-warning{
	color: #FFF;
	text-decoration: none;
}

#footer {
	box-sizing: border-box;
	padding: 30px;
	background: #000;
}