/* Imports and definitions */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900,900i');

@keyframes color {
  0% {
    background-color: #bd280f;
  }
  50% {
    background-color: #d46007;
  }
  100 {
    background-color: #bd280f;
  }
}

/* native doms */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
}

.footer {
  position: absolute;
  color: #000;
  padding: 0px 20px;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

a, a:visited {
	color: #45A9E8;
	text-decoration: none;
}

a:hover{
	color: #E8C547;
	text-decoration: none;
}

blockquote {
    color: #d45f08;
    font-weight: 400;
}

/* non-native doms */

.logo {
	height: 30px;
}

.container-heading {
    padding: 10px;
    background: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

#main {
	margin-top: 58px;
}

#contact, #banner, #milestones, #stages {
	background: #00000013;
	padding: 20px;
	box-sizing: border-box;
}

#contact {
	padding: 0px;
}


#banner {
	background: #135ca54a;
	border-radius: 0px;
	margin-right: 0;
}

#banner h1 {
	font-style: italic;
	font-weight: 500;
	font-size: 50pt;
	color: #10B758;
}

#banner-caption {
	background: #FFF;
}

#banner ul > li {
	font-size: 12pt;
	color: #10B758 !important;
}

#banner ul > li > STRONG {
	font-weight: 700;
}

#banner ul > li > span {
	margin-left: 5px;
}

#milestones {
	padding-top: 60px;
	padding-bottom: 60px;
	border-radius: 0px;
	text-align: center;
}

.milestone-stage {
	background: #000;
	border: 3px solid #FFF;
	padding: 30px;
	margin: 11px;
	border-radius: 100% 100%;
	width: 180px;
	height: 180px;
	text-align: center;
	display: inline-table;
	font-size: 12px;
}

.milestone-stage.done {
	border: 3px solid #10B758;
}

.milestone-stage.active {
	background-color: #bd280f;
	animation-name: color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.milestone-stage-heading {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #FFF;
	padding-bottom: 7px;
	margin-bottom: 7px;
}

.done > .milestone-stage-heading {
	border-bottom-color: #7ef7b2;
}

.milestone-stage-separator {
    display: inline-table;
    top: 50px;
    position: relative;
    color: #0062cc;
    font-weight: 900;
    letter-spacing: 4px;
    left: 3px;
}

.team {
	margin-top: 20px;
}

.team .badge-warning {
	font-size: 16px;
}

.team .badge-warning:hover {
	background-color: #30323D;
}

.team a > .badge-warning, .team a:visited  > .badge-warning {
	color: #222;
	text-decoration: none;
}

.team a:hover  > .badge-warning{
	color: #FFF;
	text-decoration: none;
}

#footer {
	box-sizing: border-box;
	padding: 30px;
	background: #000;
}

#stages {
	color: #545454;
}

.stage {
	margin-bottom: 20px;
}

.stage li {
	margin-bottom: 10px;
}

.infographic {
	text-align: center;
}

.infographic > img {
	width: 100%;
	margin-top: 40px;
}

.infographic p.caption {
	
}

.section-separator {
	margin-top: 40px;
	margin-bottom: 40px;
}

#goal {
	text-align: center;
}

i.fa-lightbulb {
	font-size: 5em;
	margin: 20px;
	color: #ffb500;
}

i.fa-linkedin {
	font-size: 1.3em;
    vertical-align: middle;
}

i.fa-twitter-square {
	font-size: 2.3em;
	margin-left: 10px;
    vertical-align: middle;
}

.tags {
	padding: 10px;
	text-transform: uppercase;
}

.card-img-top {
	margin-top: 10px;
}

#twitter {
    right: 10px;
    position: absolute;
}

.twitterBox {
	max-height: 600px !important;
	overflow: scroll;
}

#big {
	text-align: center;
	background: #e8ad18;
	padding: 40px;
}

#big img {
	max-height: 100px;
	margin: 40px auto;  
}

#big span {
	font-family: 'Roboto', sans-serif;
	font-weight: 300 !important;
	font-size: 36px;
}

#graphic {
	color: #FFF;
	text-align: center;
	padding: 40px;
}

#graphic img {
    width: 50%;
}


@media only screen and (max-width: 700px) { 
	.tags {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 576px) { 

	#banner-caption {
		margin-top: -14px;
	}	

	.milestone-stage-separator {
		display: none;
	}

	#big img {
		width: 100%;
	}

	#graphic img {
		width: 100%
	}

	#big span {
		font-size: 24px;
	}

}